body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

.sudoku-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

.sudoku-board {
  display: grid;
  margin: 20px auto;
  padding: 0px 20px;
  max-width: 360px;
  border-collapse: collapse;
}

.sudoku-cell {
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  user-select: none;
}

.fixed {
  background-color: #f8efdc;
}

.selected-cell {
  background-color: #a3d6ff;
}

/* Add thicker lines for every 3x3 square */
.sudoku-board td:nth-child(3n) {
  border-right: 2px solid black;
}

.sudoku-board tr:nth-child(3n) {
  border-bottom: 2px solid black;
}

.sudoku-board td:first-child {
  border-left: 2px solid black;
}

.sudoku-board tr:first-child {
  border-top: 2px solid black;
}

.sudoku-cell:hover {
  background-color: #f0f0f0;
}

.fixed:hover {
  background-color: #f8efdc;
}

.selected-cell:hover {
  background-color: #a3d6ff;
}

.new-game-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-game-btn:hover {
  background-color: #0056b3;
}

.control-buttons {
  display: grid;
  margin: 20px auto;
  padding: 0px 20px;
  max-width: 360px;
  border-collapse: collapse;
}

.control-button {
  height: 27px;
  width: 27px;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #000;
  background-color: #fff9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

.control-button:hover {
  background-color: #ddd;
}

.active {
  background-color: #84f052;
}

.active:hover {
  background-color: #61b33b;
}